.container{
    display: flex;
    flex-direction: column;
    
}

.flex-container-1{
    flex:auto; 
    flex-direction: row;
    width: 1000px; 
    height:1000px;
    background-color: red;
}
.flex-container-2{
    flex:auto; 
    flex-direction: row;
    width: 100px; 
    height:100px;
}
.flex-container-3{
    flex:auto; 
    flex-direction: row;
    width: 100px; 
    height:100px;
}
.flex-container-4{
    flex:auto; 
    flex-direction: row;
    width: 100px; 
    height:100px;
}